extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fermentum scelerisque dolor, nec maximus dolor. Praesent eget nulla eros. Integer quam purus, congue quis commodo vitae, volutpat at purus. Ut in dolor quis nunc tincidunt semper. Nullam condimentum, ligula quis mollis sagittis, leo tellus viverra ligula, a congue odio ex a nunc. Suspendisse potenti. Sed lacinia enim efficitur diam vulputate, ac ultrices mauris tincidunt.

                p Sed sollicitudin leo in rutrum vulputate. Fusce accumsan mi turpis, vitae feugiat eros luctus eget. Nullam tristique, sapien sit amet mollis egestas, sem ipsum iaculis purus, sollicitudin molestie felis lorem vel dui. Nam suscipit urna in lacinia sollicitudin. Curabitur euismod nisl risus, dignissim luctus mauris sagittis varius. In congue ex eget dolor pretium, ullamcorper efficitur tortor pretium. Pellentesque est elit, eleifend ac accumsan ac, consequat eget libero. 

                p Fusce id mattis quam. Nulla quis quam nunc. Pellentesque lacinia turpis eu lacus blandit condimentum. Aenean molestie est vel sem luctus, quis tincidunt enim ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean elementum, nibh eget vestibulum tincidunt, neque risus accumsan libero, sed porta nisi leo id turpis.


        .listado-iconos
            .container.mt-5.py-5.text-center 
                .row 
                
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Aenean molestie est vel sem luctus, quis tincidunt enim ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Destinos
                        p Aenean molestie est vel sem luctus, quis tincidunt enim ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores precios
                        p Aenean molestie est vel sem luctus, quis tincidunt enim ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                        //El texto fue generado con Lorem Ipsum para simular